<nav class="navbar">
  <ul class="list-unstyled">
   <li><a routerLink="/" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
    <!-- <li><a routerLink="/404" routerLinkActive="active">404</a></li> -->
    <li><a routerLink="/interactions" routerLinkActive="active">Interactions</a></li>
    <li><a routerLink="/rxjs" routerLinkActive="active">RXJS</a></li>
    <li><a routerLink="/recipes" routerLinkActive="active">Recipes</a></li>

  </ul>
</nav>
