<article>
    <h2>projects</h2>

    <h3>grid</h3>
    <div class="projects-grid">
        <div>Lorem ipsum dolor sit amet.</div>
        <div>A quae quidem eos pariatur!</div>
        <div>Amet blanditiis quaerat eaque aperiam!</div>
        <div>Aliquid nihil illum necessitatibus maxime.</div>
        <div>Possimus hic laborum dolor necessitatibus.</div>
        <div>Culpa est impedit magni illo?</div>
        <div>Minus similique praesentium iusto quos!</div>
        <div>Neque esse repellat vero ut.</div>
        <div>Obcaecati cum sint voluptates ducimus?</div>
        <div>Blanditiis tenetur nisi ab veritatis!</div>
    </div>

</article>
